/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
  background-color: #3e94ec;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}*/
.legend{
	      position:absolute;
		  font-size: 14px;
	      right:450px;
	      top:60px;
	      z-index:100;
	      //background-color:#FFFFFF;
	      color: #FFFFFF;
}
div.table-title {
   display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/

table.mapTable {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  //height: 120px;
  margin: auto;
  //max-width: 600px;
  padding:5px;
  //width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
  position:absolute;
	right:200px;
	top:60px;
}
 
table.mapTable th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:14px;
  font-weight: 100;
  padding:5px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

table.mapTable th:first-child {
  border-top-left-radius:3px;
}
 
table.mapTable th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
table.mapTable tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
table.mapTable tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
 
table.mapTable tr:first-child {
  border-top:none;
}

table.mapTable tr:last-child {
  border-bottom:none;
}
 
table.mapTable tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
table.mapTable tr:nth-child(odd):hover td {
  background:#4E5066;
}

table.mapTable tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
table.mapTable td {
  background:#FFFFFF;
  padding:3px;
  text-align:left;
  vertical-align:middle;
  //font-weight:300;
  font-size:11px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

table.mapTable td:last-child {
  border-right: 0px;
}

table.mapTable th.text-left {
  text-align: left;
}

table.mapTable th.text-center {
  text-align: center;
}

table.mapTable th.text-right {
  text-align: right;
}

table.mapTable td.text-left {
  text-align: left;
}

table.mapTable td.text-center {
  text-align: center;
}

table.mapTable td.text-right {
  text-align: right;
}
