/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
  background-color: #3e94ec;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}*/
#circle1 {/* red */
    width: 20px;
    height: 20px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
	background-color:#FF0000;
}
#circle2 {/* yellow */
    width: 20px;
    height: 20px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
	background-color:#FFFF00;
}
#circle3 {/* green */
    width: 20px;
    height: 20px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
	background-color:#009900;
}
.mapClass {
	height: 900px;
	width: 900px;
}
.key{
	position:absolute;
	font-size: 13px;
	left:10px;
	bottom:15px;
	z-index:10;
	color: #FFFFFF;
}
.legend{
	position:absolute;
	font-size: 14px;
	left:430px;
	top:5px;
	z-index:10;
	color: #FFFFFF;
}
.legendLaptop{
	position:absolute;
	font-size: 13px;
	font-weight:bold;
	left:230px;
	top:20px;
	z-index:10;
	color: #FFFFFF;
}
.mapOverlay{
	position:absolute;
	width:200px;
	font-size: 14px;
	left:850px;
	/*right:10px;*/
	top:2px;
	z-index:10;
	color: #FFFFFF;
}
.mapOverlaySGR{
	position:absolute;
	width:500px;
	font-size: 14px;
	left:600px;
	/*right:10px;*/
	top:2px;
	z-index:10;
	color: #FFFFFF;
}
.mapOverlayLaptop{
	position:absolute;
	width:500px;
	font-size: 14px;
	left:555px;
	/*right:10px;*/
	top:3px;
	z-index:10;
	color: #FFFFFF;
}
.mapOverlayLapsset{
	position:absolute;
	width:400px;
	font-size: 14px;
	left:530px;
	/*right:10px;*/
	top:5px;
	z-index:10;
	color: #FFFFFF;
}
.medicalOverlay{
	position:absolute;
	width:350px;
	font-size: 14px;
	left:577px;
	/*right:10px;*/
	top:3px;
	z-index:10;
	color: #FFFFFF;
}

/**
* The zoomslider in the third map shall be horizontal, placed in the top-right
* corner, smaller and orange.
*/
#map .ol-zoomslider {
	top: 8px;
	left: auto;
	right: 8px;
	background-color: rgba(255,69,0,0.2);
	width: 200px;
	height: 15px;
	padding: 0;
	box-shadow: 0 0 5px rgb(255,69,0);
	border-radius: 20px;
}

#map .ol-zoomslider:hover {
	background-color: rgba(255,69,0,0.3);
}

#map .ol-zoomslider-thumb {
	height: 15px;
	width: 15px;
	margin: 0;
	filter: none;
	background-color: rgba(255,69,0,0.6);
	border-radius: 20px;
}
#map a.ol-zoomslider-handle:hover {
	background-color: rgba(255,69,0,0.7);
}

div.table-title {
   display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/

table.mapTable {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  padding:5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
table.mapTable th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:14px;
  font-weight: 100;
  padding:5px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

table.mapTable th:first-child {
  border-top-left-radius:3px;
}
 
table.mapTable th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
table.mapTable tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
table.mapTable tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
 
table.mapTable tr:first-child {
  border-top:none;
}

table.mapTable tr:last-child {
  border-bottom:none;
}
 
table.mapTable tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
table.mapTable tr:nth-child(odd):hover td {
  background:#4E5066;
}

table.mapTable tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
table.mapTable td {
  background:#FFFFFF;
  padding:3px;
  text-align:left;
  vertical-align:middle;
  //font-weight:300;
  font-size:11px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

table.mapTable td:last-child {
  border-right: 0px;
}

table.mapTable th.text-left {
  text-align: left;
}

table.mapTable th.text-center {
  text-align: center;
}

table.mapTable th.text-right {
  text-align: right;
}

table.mapTable td.text-left {
  text-align: left;
}

table.mapTable td.text-center {
  text-align: center;
}

table.mapTable td.text-right {
  text-align: right;
}
