@charset "utf-8";
/* CSS Document */

/*html, body {
				width: 100%;
				height: 100%;
				overflow: hidden;
			}
			body {
				font-family: "Lucida Grande", sans-serif;
				font-size: 11px;
				position: relative;
			}*/
			#divFormula2{
				/*height:60px;
				position:relative;
				top:330px;*/
			}
			
			#list-container {
				/*position: absolute;
				top: 0px;
				left: 0;
				right: 0;
				height: 120px;*/
			}

			/* styles for the three lists in the top region */
			#organizations, #perspectives, #objectives {
				/*position: absolute;
				top: 0;
				bottom: 0;
				width: 33.3%;
				height: 120px;*/
			}
			#list-container .dgrid-row { /* all rows in all 3 lists 
				padding: 0.25em;
				cursor: default;*/
			}

			/* IE<7 doesn't support height/width: auto w/ top/bottom / left/right. */
			.has-ie-6 #genres, .has-ie-6 #perspectives, .has-ie-6 #objectives {
				/*height: 120px;*/
			}
			.has-ie-6 #list-container {
				/*width: 100%;*/
			}

			/*#perspectives { left: 33.3%; }
			#objectives { right: 0; }
*/
			#grid {
				/*position: absolute;
				left: 0;
				right: 0;
				top: 122px;
				bottom: 0;
				height: 100px;*/ /* override default height: 30em; in dgrid.css */
			}
			#gridCopy2 {/*
				position: absolute;
				left: 0;
				right: 0;
				top: 222px;
				bottom: 0;
				height: 100px; *//* override default height: 30em; in dgrid.css */
			}
			
			.has-ie-6 #grid {
				/*width: 100%;*/
				/* Give the grid a height.  Not optimal, but we'd need more JS for better. */
				/*height: 20em;*/
			}
			
			#grid .dgrid-cell {
				border: 1;
			}
			#grid .dgrid-header th {
				border: 0;
				border-right: 1px solid #a6a6a6;
			}
			#grid .dgrid-header th:last-child {
				border: 0;
			}
			#grid .dgrid-row-even {
				background-color: #f2f6fa;
			}
			#grid .dgrid-row-even.dgrid-selected {
				background-color: #bfd6eb;
			}

			#grid .field-Time,
			#grid .field-Year { 
				text-align: right; 
			}