.container {
	border:1px solid #aaa;
	padding: 1em;
	cursor: default;
	background:#fff;
}
.resultsContainer {
	width: 233px;
	height:160px;
}
.resultsContainer ul {
	height: 160px;
}
.dateContainer {
	width: 233px;
}
.dateContainer ol {
	background: url("images/cart.jpg") no-repeat -20px 60px;
}
.valueContainer {
	width: 233px;
}
.valueContainer ol {
	background: url("images/clipboard.jpg") no-repeat -30px 0;
}
.nameContainer {
	width: 233px;
}
.nameContainer ol {
	background: url("images/clipboard.jpg") no-repeat -30px 0;

}

.resultsContainer .inStock {
	padding-left: 18px;
	background-image: url("images/inStock.png");
	background-repeat: no-repeat;
	background-position: 0 7px;
}

.resultsContainer .outOfStock {
	padding-left: 18px;
	background-image: url("images/outOfStock.png");
	background-repeat: no-repeat;
	background-position: 0 7px;
}

#dateNode, #nameNode, #valueNode {
	padding: 1em 3em;
	list-style: none;
}
#sqlResults
{
	padding: 1em 2em;
}