/* ------------------
 styling for the tables 
   ------------------   */

.box-table-a
{
	font-family:  "Leelawadee", "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 13px;
	text-align: left;
	vertical-align:text-top;
	border-collapse: collapse;
	border-top: 7px solid #9baff1;
	border-bottom: 2px solid #9baff1;	
}
.box-table-a th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	border-right: 1px dotted #9baff1;
	border-left: 1px dotted #9baff1;
	vertical-align:text-top;
}
.box-table-a td
{
	padding: 8px;
	border-right: 1px dotted #aabcfe;
	border-left: 1px dotted #aabcfe;
	vertical-align:text-top;
}

.box-table-b
{
	font-family: "Leelawadee", "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 13px;
	text-align: left;
	vertical-align:text-top;
	vertical-align:top;
	border-collapse: collapse;
	border-bottom: 2px solid #9baff1;
}
.box-table-b th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	border-right: 1px dotted #9baff1;
	border-left: 1px dotted #9baff1;
	
}
.box-table-b td
{
	padding: 8px;
	border-right: 1px dotted #aabcfe;
	border-left: 1px dotted #aabcfe;

}

.box-table-c
{
	font-family: "Leelawadee", "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 13px;
	text-align: left;
	border-collapse: collapse;
	border-bottom: 7px solid #9baff1;
	
}
.box-table-c th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	border-right: 1px solid #9baff1;
	border-left: 1px solid #9baff1;

}
.box-table-c td
{
	padding: 8px;
	border-right: 1px solid #aabcfe;
	border-left: 1px solid #aabcfe;	
}

.measure-table
{
	font-family: "Leelawadee", "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 13px;
	text-align: left;
	border-collapse: collapse;
	border-top: 1px solid #9baff1;
	border-bottom: 1px solid #9baff1;
}
.measure-table th
{
	/*font-size: 13px;
	font-weight: normal;
	padding: 8px;
	border-right: 1px solid #9baff1;
	border-left: 1px solid #9baff1;
*/}
.measure-table td
{
	padding: 6px;
	border-right: 1px solid #aabcfe;
	border-left: 1px solid #aabcfe;
	border-top: 1px solid #aabcfe;
}

.measureUpdateDialog-table
{
	font-family: "Leelawadee", "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 13px;
	text-align: left;
	vertical-align:text-top;
	vertical-align:top;
	border-collapse: collapse;
	border: 1px solid #9baff1;
}
.measureUpdateDialog-table td
{
	padding: 6px;
	border-right: 1px solid #9baff1;
	border-left: 1px solid #9baff1;
	border-top: 1px solid #9baff1;
	border-bottom: 1px solid #9baff1;
}