@charset "UTF-8";
/* CSS Document */

.redLight
{
	border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
	width: 30px;
    height: 30px;
    background: red;
    border: 1px solid grey;
}
.trafficLightBootstrap
{
	width: 24px;
    height: 24px;
	border: 1px solid grey;
}
.yellowLight
{
	border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
	width: 30px;
    height: 30px;
    background: yellow;
    border: 1px solid grey;
}
.greenLight
{
	border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
	width: 30px;
    height: 30px;
    background: green;
    border: 1px solid grey;
}
.greyLight
{
	border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
	width: 30px;
    height: 30px;
    background: grey;
    border: 1px solid grey;
}
.redColor
{
    color: red;
}

.yellowColor
{
    color: yellow;
}

.greenColor
{
    color: green;
}

.lightRedColor
{
    color: red;
}

.lightYellowColor
{
    color: #FFFF00; /*cross check*/
}

.lightGreenColor
{
    color: #009900; /*cross check*/
}

.green3d {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    
  background: -webkit-radial-gradient(65% 15%, circle, white 1px, lightgreen 3%, darkgreen 60%, lightgreen 100%); 
  background: -moz-radial-gradient(65% 15%, circle, white 1px, lightgreen 3%, darkgreen 60%, lightgreen 100%); 
  background: -o-radial-gradient(65% 15%, circle, white 1px, lightgreen 3%, darkgreen 60%, lightgreen 100%);
  background: radial-gradient(circle at 65% 15%, white 1px, lightgreen 3%, darkgreen 60%, lightgreen 100%);   
  
  }

  .yellow3d {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    
  background: -webkit-radial-gradient(65% 15%, circle, white 1px, gold 3%, darkorange 60%, gold 100%); 
  background: -moz-radial-gradient(65% 15%, circle, white 1px, gold 3%, darkorange 60%, gold 100%); 
  background: -o-radial-gradient(65% 15%, circle, white 1px, gold 3%, darkorange 60%, gold 100%);
  background: radial-gradient(circle at 65% 15%, white 1px, gold 3%, darkorange 60%, gold 100%);    
  
  }

  .red3d {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    
  background: -webkit-radial-gradient(65% 15%, circle, white 1px, red 3%, firebrick 60%, red 100%); 
  background: -moz-radial-gradient(65% 15%, circle, white 1px, red 3%, firebrick 60%, red 100%); 
  background: -o-radial-gradient(65% 15%, circle, white 1px, red 3%, firebrick 60%, red 100%);
  background: radial-gradient(circle at 65% 15%, white 1px, red 3%, firebrick 60%, red 100%);    
  
  }

  .grey3d {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    
  background: -webkit-radial-gradient(65% 15%, circle, white 1px, grey 3%, darkgrey 60%, grey 100%); 
  background: -moz-radial-gradient(65% 15%, circle, white 1px, grey 3%, darkgrey 60%, grey 100%); 
  background: -o-radial-gradient(65% 15%, circle, white 1px, grey 3%, darkgrey 60%, grey 100%);
  background: radial-gradient(circle at 65% 15%, white 1px, grey 3%, darkgrey 60%, grey 100%);    
  
  }