@charset "utf-8";
/* CSS Document */

.claro .itemA
{
border-top: 0px;
background: url('../images/icons/bookMarkIcon16.png') ;
width: 16px;
height: 16px;
background-position : top left;
background-repeat : repeat-y;
zoom: 1;
}
.claro .itemB
{
border-top: 0px;
background: url('../images/icons/bookMarkIcon16_2.png') ;
width: 16px;
height: 16px;
background-position : top left;
background-repeat : repeat-y;
zoom: 1;
}